<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let taxi of taxis">
        <td>{{ taxi.id }}</td>
        <td>{{ taxi.model }}</td>
        <td>{{ taxi.description }}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
